# Node
node_modules/
dist/
.env

# React/Vite
*.log
.vite
coverage/
build/

# Mac/Windows/Linux
.DS_Store
Thumbs.db
# Bases de datos locales y dumps
*.sqlite
*.sqlite3
*.db
*.db3
*.sql
*.bak
*.dump
backup.sql
database_schema.sql
